Source: ros-indigo-rosh-geometry
Section: misc
Priority: extra
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/rosh_geometry
Standards-Version: 3.9.2

Package: ros-indigo-rosh-geometry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-geometry-msgs, ros-indigo-rosh, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-tf
Description: ROSH plugin for the geometry stack, including tf.
